name: Daily Notion Scraper

on:
  schedule:
    - cron: '15 11 * * *'


  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome and chromedriver
        run: |
          sudo apt update
          sudo apt install -y chromium-browser chromium-chromedriver
          if [ ! -f /usr/bin/chromedriver ]; then
            sudo ln -s /snap/bin/chromium.chromedriver /usr/bin/chromedriver
          fi

      - name: Run scraper
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
        run: |
          python main.py
